
.content_container{
    width: 500px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}
.img_sign{
    width: 300px;

}

.answer_container{
    background-color: skyblue;
    height: 50px;
    border-radius: 5px;
}

.answer{
    display: none;
}


.arrow_next{
    position: absolute;
    top:50%;
    right: 5%;
    background-color: white;
    border-radius: 50%;

}


.arrow_pre{
    position: absolute;
    top:50%;
    left: 5%;
    background-color: white;
    border-radius: 50%;
}