.content_container{
    background-color: white;
    padding: 20px;
    height:1000px;
    border-radius: 20px;
}



.img_container{
    width: 300px;
    height: 400px;
    margin: auto;
    margin-bottom: 20px;

}

.img_sign{
    width: 300px;
    height: 400px;

}

.choice_container{
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    width: 690px;
    height: 100px;
    display:flex;
    align-items:center;
    justify-content: center
}
.choice{
    margin: 0px;

    text-align:center;
}

.result_container{
    margin: auto;
}

.question_number{
    text-align: center;
}